@import "https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --blue: hsl(223, 87%, 63%);
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
  --font-family: "Libre Franklin", sans-serif;
}

html {
  font-size: 125%;
}

body {
  font-family: var(--font-family);
}

.container {
  display: grid;
  grid: "header" 1.2rem "." 2rem "main" auto "footer" auto/1fr;
  justify-content: center;
  height: 100vh;
  max-width: 600px;
  margin: auto;
  padding: 2rem;
}

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  height: 100%;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .title {
  font-weight: 300;
  font-size: 2rem;
  color: var(--gray);
  margin-bottom: 1rem;
}
@media (max-width: 500px) {
  main .title {
    font-size: 1.3rem;
  }
}
main .title span {
  font-weight: 700;
  color: var(--very-dark-blue);
}
main .catchline {
  font-size: 0.85rem;
  margin-bottom: 2rem;
}
@media (max-width: 500px) {
  main .catchline {
    font-size: 0.8rem;
  }
}
main .notify input[type=email]:invalid ~ p {
  display: inline;
}
main .notify {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "email-area button-area" "error-area .";
  align-items: center;
  gap: 0.3rem 0.5rem;
  margin-bottom: 2rem;
}
@media (max-width: 500px) {
  main .notify {
    grid-template-columns: auto;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: "email-area" "error-area" "button-area";
  }
}
main .notify p {
  grid-area: error-area;
  font-size: 0.5rem;
  font-weight: 300;
  font-style: italic;
  color: var(--light-red);
  padding-left: 1.2rem;
  display: none;
  align-self: flex-start;
}
main .notify input[type=email] {
  grid-area: email-area;
  width: 100%;
  border: 1px solid var(--gray);
  padding: 0.7rem 1.2rem;
  border-radius: 2rem;
}
main .notify input[type=email]::placeholder {
  color: var(--gray);
}
main .notify input[type=email]:focus {
  outline: none;
}
main .notify input[type=email]:invalid {
  border: 1px solid var(--light-red);
}
main .notify input[type=submit] {
  grid-area: button-area;
  width: 100%;
  border: 0;
  padding: 0.7rem 0;
  border-radius: 2rem;
  box-shadow: 0px 2px 10px 1px var(--pale-blue);
  color: white;
  background: var(--blue);
  transition: all 200ms;
}
main .notify input[type=submit]:hover {
  opacity: 70%;
  cursor: pointer;
}
main .illustration-dashboard {
  max-width: 100%;
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
footer .social {
  margin-bottom: 1rem;
}
footer .social ion-icon {
  font-size: 0.8rem;
  color: var(--blue);
  padding: 0.2rem;
  margin: 0 0.3rem;
  border: 1px solid var(--pale-blue);
  border-radius: 50%;
  transition: all 200ms;
}
footer .social ion-icon:hover {
  background: var(--blue);
  color: white;
  cursor: pointer;
}
footer .copyright {
  font-weight: 300;
  font-size: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
